.payment_wrapper{
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-transform: capitalize;
    /* transition: all .2s linear; */
    max-width: 1440px;
    margin: auto;
    /* border: 1px solid blue; */
  }
  
  .payment_container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    /* min-height: 100vh; */
    /* border: 1px solid blue; */
    background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
  }
  
  .payment_container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    /* border: 1px solid blue; */
  }
  
  .paymentModal_row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    /* border: 1px solid red; */
  }
  
  .paymentModal_col{
    flex:1 1 250px;
    /* border: 1px solid blue; */
  }
  
  .paymentModal_title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
    /* border: 1px solid red; */
  }
  
  .inputBox{
    margin:15px 0;
    /* border: 1px solid red; */
  }
  
  .paymentModal_label{
    margin-bottom: 10px;
    display: block;
    /* border: 1px solid black; */
  }
  
  .paymentModal_inputBox{
    width: 90%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
    /* border: 1px solid black; */
  }
  
  .paymentModal_inputBox:focus{
    border:1px solid #000;
  }
  
  .paymentModal_flex{
    display: flex;
    gap:15px;
    /* border:1px solid #000; */
  }
  
  .paymentModal_flex .inputBox{
    margin-top: 5px;
    /* border: 1px solid red; */
  }
  
  .paymentModal_cardImages{
    height: 34px;
    width: 80%;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
    /* border: 1px solid red; */
  }
  
  .paymentModal_submitBtn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .paymentModal_submitBtn:hover{
    background: #2ecc71;
  }
  .short-input{
    max-width: 100px;
    /* background-color: red; */
    /* border: 1px solid red; */
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {
    .payment_container{
      margin-top: 0;
      padding:10px;
    }
  }